<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">
<head>
    <title>Сайты</title>
</head>

<section layout:fragment="content">
    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th class="col-1">ID</th>
                <th class="col-2">Название</th>
                <th class="col-3">Последняя проверка</th>
                <th class="col-4">Код ответа</th>
            </tr>
        </thead>
    </table>
</section>
</html>